/* ===== Fonts ===== */
@font-face {
  font-family: 'VT323';
  src: url("../assets/fonts/VT323-Regular.woff2") format('woff2');
  font-weight: 100 1000;
}

@font-face {
  font-family: 'w95fa';
  src: url("../assets/fonts/w95fa.woff2") format('woff2');
  font-weight: 100 1000;
}


/* ===== :root Variables ===== */
:root {
  /* Colors */
  --primary-color: #000000;
  --secondary-color: #2ecc71;
  --background-color: #f4f4f4;
  --text-color: #333;
  --text-light: #fff;

  /* Typography */
  --font-family: 'VT323', sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.6;

  /* Spacing */
  --spacing-unit: 1rem; /* 16px by default */
  --main-width: 100vw;
  --main-height: 100vh;

  /* Borders */
  --border-radius: 8px;
  --border-color: #ddd;

  --icons-count: 3;
}

/* ===== Global Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  cursor: url("../assets/cursor/arrow.cur"), default;
  /* zoom: 150%; */
  
}

.snap-section{
  scroll-snap-align: start;
}


.icon:hover {
  cursor: url("../assets/cursor/Cursor_15.cur"), pointer;
}
.x_button:hover {
  cursor: url("../assets/cursor/Cursor_15.cur"), pointer;
}
a:hover {
  cursor: url("../assets/cursor/Cursor_15.cur"), pointer;
}
p:hover{
  cursor: url("../assets/cursor/text.cur"), text;
}
h1:hover {
  cursor: url("../assets/cursor/text.cur"), text;
}



/* ===== Basic Typography ===== */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  color: var(--text-light);
  overflow-wrap: break-word;
}

h1 {
  font-family: var(--font-family);
  font-size: 7rem;
}

h2 {
  font-family: var(--font-family);
  font-size: 4rem;
}

h3 {
  font-family: var(--font-family);
  font-size: 2rem;
}

p {
  color: var(--text-light);
  font-family: var(--font-family);
  font-size: 1rem;
}




/* ===== Icons Base ===== */
.icon {
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  position: relative;

  width: 5rem;
  /* flex: 1 1 auto; */
  cursor: pointer;

  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon_text{
  position: absolute;
  bottom: 0;
  font-size: 1.3rem;
  font-family: var(--font-family);
  text-align: center;
  text-decoration: none; 
  color: white; 
  line-height: 0.6;
}


/* ===== Windows Base ===== */

.window {
  flex-direction: column;
  display: none;
  position:fixed;
  top: 1rem;
  left: calc(0.14 * var(--main-width));
  width: calc(0.65 * var(--main-width));
  height: calc(0.9 * var(--main-height));
  background-color: #C0C0C0;
  resize: both;
  overflow: hidden;
  z-index: 999;

  box-shadow:
        inset -1px -1px 0 #fff, /* Top and left inner highlight */
        inset 1px 1px 0 #808080, /* Bottom and right inner shadow */
        -2px -2px 0 #dfdfdf, /* Top and left outer highlight */
        2px 2px 0 #000; /* Bottom and right outer shadow */
}

.window p{
  color:#000000;
}



.window-header {
  height: 2rem;
  padding: 2px;
  background-color: #00007F;
  border-bottom: 1px solid #ccc;
  display: flex;
  gap: 5px;
  justify-content: left;
  align-items: center;
  cursor: move;
  color: #FEFEFE;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 2rem;
}

.window-header button {
  background-image: url("/assets/icons/exit_button.png");
  margin-left: auto;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  height:90%;
  aspect-ratio: 1/1;
  background-size: contain;
}

.window_toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color:#000;
  margin-right:6px;
  margin-left:6px;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 90%;
}

.window-content {
  margin: 1px;
  overflow: scroll;
  margin: 4px;
  margin-top: 0px;
  padding: 10px;
  box-sizing: border-box;
  height: calc(100% - 2rem);
  background-color: #FEFEFE;
  overflow: scroll;

  box-shadow:
         -2px -2px 0 #271e1e,
         2px -2px 0 #271e1e,
         2px 2px 0 #271e1e;
}

.window-content img{
  width: 100%;
  color:#000;
  font-size: 1rem;
  line-height: 90%;
}



/* Resume Window */
#resume_window {
  top: 1rem;
  left: calc(0.14 * var(--main-width));
  width: calc(0.65 * var(--main-width));
  height: calc(0.9 * var(--main-height));
}

#download_button{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color:#000;
  width: 70px;
}

#download_button .button_text{
  display: inline-block;
  color:#000;
  font-size: 16px;
  margin: 0;
}

#download_button img{
  display: inline-block;
  height: 80%;
  object-fit: contain;
} 


/* UVM_RISCV Window */








/* ========Nav Bar ================================================================================================*/
#nav_container {
  position: fixed;
  top: calc(0.02 * var(--main-height));
  right: calc(0.01 * var(--main-width));;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  gap: calc(0.03 * var(--main-width));
  font-family: var(--font-family);
  width: calc(0.2 * var(--main-width));
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  z-index: 50;
}

/* Hide the navbar when scrolling down */
.hidden {
  transform: translateY(-200%);
}

.folder {
  aspect-ratio: 1/1.2;  
  background-image: url("../assets/icons/folder_closed.png");
}

.folder:hover {
  background-image: url('../assets/icons/folder_open.png');
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav_home {
  aspect-ratio: 1/1.4;  
  background-image: url("../assets/icons/rat.png");
}


@media (max-width: 768px) {
  #nav_container {
    position: fixed;
    top: calc(0.02 * var(--main-height));
    right: 0;
    padding-left: calc(0.02 * var(--main-width));
    padding-right: calc(0.02 * var(--main-width));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    align-self: center;
    gap: calc(0.03 * var(--main-width));
    font-family: var(--font-family);
    width: calc(0.25 * var(--main-width));
    margin-right: calc(0.01 * var(--main-width));
    z-index: 30;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }

}

/* ======== Nav Bar ================================================================================================*/





/* ======== Home Screen ================================================================================================*/
#home {
  position: relative;
  background-image: url('../assets/images/fish.jpg'); 
  background-size: cover;
  background-position: center;
}


.home-content {
  min-height: var(--main-height); /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  
  text-align: left;
  backdrop-filter: blur(12px);
  
  font-family: var(--font-family);
  padding-top: calc(0.05 * var(--main-height));
  padding-bottom: calc(0.05 * var(--main-height));
  padding-left: calc(0.05 * var(--main-width));
  padding-right: calc(0.05 * var(--main-width));
}

.home-content h1 {
  font-size: 9rem;
  margin-top: calc(0.12 * var(--main-height));
}

.home-content h2 {
  font-size: 3rem;
}




@media (max-width: 768px) {
  .home-content {
    min-height: var(--main-height); /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: calc(0.02 * var(--main-height));
  }

  .home-content h1 {
    font-size: 2rem;
    margin-top: calc(0.2 * var(--main-height));
  }
  
  .home-content p {
    font-size: 1rem;
  }

}


/* Home Icons */

.home_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  align-content: center;
  align-self: flex-start;
  gap: calc(0.05 * var(--main-width));

  width: calc(0.25 * var(--main-width));

  margin-top: calc(0.1 * var(--main-height));;

}

.home_icons .icon_text{
  font-size: 2rem;
}

#resume {
  aspect-ratio: 1/1.5;
  background-image: url("../assets/icons/notepad.png"); 
}

#linkedin {
  aspect-ratio: 1/1.5;
  background-image: url("../assets/icons/linkedin.png");
}

#github {
  aspect-ratio: 1/1.5;
  background-image: url("../assets/icons/github.png");
}





@media (max-width: 768px) {

  .top_icons_container{
    width: calc(0.4 * var(--main-width));
    gap: calc(0.05 * var(--main-width));
    align-self: flex-end;
    margin-bottom: calc(0.2 * var(--main-width));;
  }
  
}
/* ======== Home Screen ================================================================================================*/





/* ======== Projects ================================================================================================*/
#projects {
  position: relative;
  background-image: linear-gradient(
    to top, 
    rgba(3, 3, 17, 0.651), 
    rgba(10, 28, 72, 0.541)
), url('../assets/images/fish.jpg');
  background-size: cover;
  background-position: center;

}


.projects-content {
  min-height: var(--main-height); /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  
  text-align: left;
  color: var(--text-light);
  backdrop-filter: blur(20px);
  
  font-family: var(--font-family);
  padding-top: calc(0.05 * var(--main-height));
  padding-bottom: calc(0.05 * var(--main-height));
  padding-left: calc(0.1 * var(--main-height));
  padding-right: calc(0.05 * var(--main-height));
}


.projects-content h1{
  font-size: 3rem;
  text-decoration: underline;
  color: #f4f4f4;
}



/* Project Icons */

#UVM_RISCV_icon {
  aspect-ratio: 1/1.5;
  background-image: url("../assets/icons/uvm_proj_icon.webp");
  font-size: 1rem;
  margin-top: 3rem;
}




/* ======== Projects ================================================================================================*/








/* ======== Other ================================================================================================*/
#other {
  position: relative;
  background-image: linear-gradient(
    to top, 
    rgba(3, 3, 17, 0.822), 
    rgba(3, 3, 17, 0.651)
), url('../assets/images/fish.jpg');
  background-size: cover;
  background-position: center;

}

.other-content {
  min-height: var(--main-height);
  backdrop-filter: blur(20px);
}
/* ======== Other ================================================================================================*/









/* ======== About ================================================================================================*/
#about {
  position: relative;
  background-image: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0.918), 
    rgba(3, 3, 17, 0.822)
), url('../assets/images/fish.jpg');
  background-size: cover;
  background-position: center;

}

.about-content {
  min-height: var(--main-height); /* Full viewport height */
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-start;
  gap: calc(0.05 * var(--main-width));

  text-align: left;
  color: var(--text-light);
  backdrop-filter: blur(20px);
  
  font-family: var(--font-family);
  padding-top: calc(0.05 * var(--main-height));
  padding-bottom: calc(0.05 * var(--main-height));
  padding-left: calc(0.1 * var(--main-height));
  padding-right: calc(0.05 * var(--main-height));
}

.about-content h1{
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #000000;
}

.about-content h3{
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  color: #000000;
}

.about-content h2{
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 1.5rem;
  text-decoration: underline;
  color: #000000;
}

.about-content p{
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 1rem;
  color: #000000;
  line-height: 100%;
}

.polaroid {
  display: flex;
  background-color: #f4f4f4;
  align-items: center;
  flex-direction: column;
  align-self: flex-start;
  width: calc(0.16 * var(--main-width));
  height: calc(0.5 * var(--main-height));
  margin-top: calc(0.1 * var(--main-height));;
}

.portrait {
  height: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  margin-bottom: 5%;
}

.polaroid_caption {
  display: block;
  height: 3rem;
  padding-left: 10%;
  padding-right: 10%;
  
}

.about_text {
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: left;
  background-image: url("/assets/images/windows_notepad.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1.3rem;
  width: calc(0.41 * var(--main-width));
  height: calc(0.3 * var(--main-width));
}

.resume_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  justify-self: flex-end;
  background-image: url("/assets/images/windows_notepad.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
  width: calc(0.3 * var(--main-width));
  height: calc(0.3 * var(--main-width));
}



/* ======== About ================================================================================================*/



